html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.slick_Control .slick-initialized {
  max-height: 100%;
  overflow: hidden;
}
.slick_dataAnalysis_control .slick-initialized .slick-list {
  margin: 0 -15px;
}
.slick_dataAnalysis_control
  .slick-initialized
  .slick-list
  .slick-track
  .slick-slide {
  padding: 0 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.solution_slider .slick-initialized .slick-list {
  margin: 0 -15px;
}
.solution_slider .slick-initialized .slick-list .slick-track .slick-slide {
  padding: 0 15px;
}
